<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <!-- Display Variable -->
    <%=name.toUpperCase()%> 
    <%=2+2%>

    <!-- conditional statement -->
     <% if(userId === 20) {%>
        <h1>User ID: <%=userId%></h1>
     <% } else if(userId === 30){ %>
        <h2>User Id <%=userId%></h2>
     <%} else { %>
        <h1>Nothing...</h1>
     <%}%>   

     <!-- For loop -->
      <% for(let i=0; i<10; i++){%>
        <h1><%=i%></h1>
      <%}%>  

      <!--for in loop  -->
      <% const data = [1,2,3,4,5]%>

      <% for(d in data){%>
        <h1><%=d%></h1>
      <%}%>  

      <!-- built in method-->
      <%var current = new Date()%> <%=current%>
</body>
</html>